/* 
	CSS style file for the Kiosk demo.
*/

body.background {
	background-color: #00838f;
}

div.main-text {
	color: #00838f;
	text-align: center;	
	font-family: 'Roboto', sans-serif;
	font-weight: 100;

	background-color: #f0f0f0;
}

h1.main-text {
	color: #004D40;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 80px;

	background-color: #fafafa;
}

.logo, .button {
	font-color: #004D40;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 25px;

	background-color: #fafafa;
}