/* 
	CSS style file for the Kiosk demo.
*/

body.background {
	background-color: #00838f;
}

.header {
	background-color: white;
	color: #3082EE;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.main-text {
	background-color: #3B8699;
	color: #f0f0f0;
	text-align: center;
}

.logo {
	position: relative;
	top: 150px;
}

.message {
	margin: 0 0 0 30px; 
	float: left; 
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-weight: 10px;
	position: relative;
	top: 220px;
}

.img_encoder {
	margin: 0 0 0 30px;
	position: relative;
	top: 220px;
}

.bottom_screen {
	clear: both;
	color: #3B8699;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	position: relative;
	top: 280px;
}

.button {
	height: 50px;
	width: 200px;
	font-size: 35px;
	margin-bottom: 50px;
}
