/* 
	CSS style file for the Kiosk demo.
*/

/******************************* Start screen classes*******************************/
.blue {
	background-color: #3B8699;
}

.header {
	background-color: white;
	color: #3082EE;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.main-text {
	background-color: #3B8699;
	color: #f0f0f0;
	text-align: center;	
}

.logo {
	position: relative;
	top: 150px;
}

.message {
	margin: 0 0 0 30px; 
	float: left; 
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-weight: 10px;
	position: relative;
	top: 220px;
}

.img_encoder {
	margin: 0 0 0 30px;
	position: relative;
	top: 220px;
}

.bottom_screen {
	clear: both;
	color: #3B8699;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	position: relative;
	top: 280px;
}

.button {
	height: 50px;
	width: 200px;
	font-size: 35px;
	margin-bottom: 50px;
}

/************************** Menu screen classes***************************/

.white {
	background-color: white;
}

.header_menu {
	background-color: #3B8699;
}

.tittle {
	margin-bottom: 0;
	color: white;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif; 
	font-size: 35px;
	padding: 5px 0 0px 30px;
	position: absolute;
	text-align: left;
}

.subttitle {
	background-color: #1F6272;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	padding: 2px 30px 2px 0;
	text-align: right;
}

.menu {
	text-align: center;
}

.solicitar_btn {
	background-color: white;
	float: left;
	position: relative;
	top: 160px;
}

.cuenta_btn {
	background-color: white;
	float: right;
	position: relative;
	top: 160px;
}

#bottom {
	position: fixed;
	bottom: 0;
	width: 100%
}

.footer {
	background-color: #1F6272;
	text-align: left;
}

.contact {
	color: white;
	float: left;
	font-size: 20px;
	margin: 10px 0 0 35px;
}

.foot_btns {
	text-align: right;
}

.foot_button {
	background-color: #1F6272;
	border: none;
	outline: none;
}

.icon {
	text-align: right;
}


/************************ Solicitar Locker screen classes ***********************/

.submenu_renta {
	float: left;
	font-size: 25px;
	margin: 20px 60px 60px -40px;
	position: relative;
	top: 150px;
	text-align: right;
}

.submenu_zona {
	float: right;
	font-size: 25px;
	margin: 20px 70px 60px 70px;
	position: relative;
	top: 150px;
}

.rent_type_menu {
	line-height: 35px;
	list-style: none;
}

.zone_menu {
	list-style: none;
	width: 200px;
}

.menu_element {
	background-color: white;
	color: #3B8699;
	padding: 0 5px;
}

.menu_element_active {
	background-color: #3B8699;
	color: white;
	padding: 0 5px;
	box-shadow: 8px 8px 20px gray;
}

/*.list_icons {
	position: relative;
	text-align: left;
}

.unactive_icon {
	display: none;
	float: left;
	margin-right: 20px;
	position: absolute;
}

.active_icon {
	float: left;
	margin-right: 40px;
	position: absolute;
}

.menu_element_active .list_text {
	background-color: #3B8699;
	box-shadow: 5px 5px 20px gray;
	position: relative;
	left: 60px;
}

.list_text {
	position: relative;
	left: 60px;
}*/

.screen_button {
	clear: both;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size: 25px;
	position: relative;
	top: 200px;
	text-align: center;
}

.enabled_btn {
	height: 40px;
	width: 220px;
	background-color: #3B8699;
	color: white;
	border: none;
	outline: none;
}

.unabled_btn {
	height: 40px;
	width: 220px;
	background-color: gray;
	color: white;
	border: none;
	outline: none;
}


/**************************Confirmación de renta classes*******************************/

.rent_fields {
	color: #3B8699;
	float: left;
	font-size: 25px;
	margin: 0 30px 0 0;
	position: relative;
	left: -200px;
	top: 40px;
}

.fields_list {
	line-height: 54px;
	list-style: none;
}

.rent_values {
	float: left;
	font-size: 25px;
	margin: 0 0 0 30px;
	max-width: 400px;
	position: relative;
	left: -200px;
	top: 40px;
	text-align: right;
}

.values_list {
	border: 0 0 0 100px;
	line-height: 54px;
	list-style: none;
	overflow: hidden;
}

.locker_data {
	float: right;
	font-size: 16px;
	position: absolute;
	left: 500px;
	top: 80px;
	text-align: center;
	width: 260px;
}

.locker_number {
	float: left;
}

.locker_zone {
	float: right;
	position: relative;
	left: 60px;
}

.locker_id {
	border-style: solid;
	border-color: #3B8699;
	color: #3B8699;
	font-size: 80px;
	width: 130px;
}

.zone_id {
	border-style: solid;
	border-color: #3B8699;
	color: #3B8699;
	font-size: 25px;
	line-height: 110px;
	height: 120px;
	width: 130px;
}

.change_btn {
	background-color: #3B8699;
	border: none;
	clear: both;
	color: white;
	font-size: 25px;
	position: absolute;
	left: -140px;
	top: 350px;
}

.changeBtn_img {
	margin-left: 10px;
}

.payment_stats {
	font-size: 18px;
	position: absolute;
	left: 250px;
	top: 470px;
	text-align: center;
}

.cant_toPay {
	color: #3B8699;
}

.start_payment {
	box-shadow: 0 8px 10px gray;
	clear: both;
	color: #3B8699;
	font-size: 25px;
	position: absolute;
	left: 150px;
	top: 570px;
	text-align: center;
	height: 40px;
	width: 350px;
}

.modal {
	text-align: center;
	top: 50%;
}


/*******************Trasacción exitosa classes**********************/

.header_success {
	background-color: #1F6272;
	color: white;
	font-size: 35px;
	padding: 10px 0;
	text-align: center;
}

.success_screen {
	text-align: center;
}

.recipe_area {
	background-color: white;
	height: 350px;
	width: 250px;
	position: relative;
	top: 70px;
	left: 180px;
}

.thanks {
	color: white; 
	font-size: 20px;
	position: relative;
	top: 110px;
}

.success_btns {
	font-size: 20px;
	position: relative;
	left: 300px;
	top: 150px;  
}

.success_btns button {
	background-color: white;
	border:none;
	box-shadow: -3px 8px 30px #054958;
	text-align: right;
	height: 40px;
	width: 220px;
}

.success_btns button img {
	margin-right: 31px;
}


/*******************Cambiar y reportar locker classes************************/

.actual_locker {
	font-size: 16px;
	position: relative;
	left: -130px;
	top: 250px;
	text-align: center;
	width: 270px;
}

.report_btns {
	position: relative;
	right: -50px;
	top: 30px;
	text-align: right;
}

.report_btns button {
	background-color: #3B8699;
	border:none;
	box-shadow: -5px 6px 10px gray; 
	color: white;
	font-size: 22px;
	text-align: left;
	margin: 28px 0;
	height: 44px;
	width: 250px;
	padding-left: 8px;
}

.report_btns button p {
	float: right;
	padding-top: 4px;
}


/*******************Locker asignado classes***************************/

.icon_space {
	width: 50px;
	height: 50px;
}

.cuentaBtn_area {
	float: left;
	position: relative;
	left: -90px;
	top: 50px;
}

.reportBtn_area {
	position: relative;
	right: -380px;
	top: 50px;
}

.assign_screen div button {
	background-color: white; 
	border:none;
}

.locker_info {
	font-size: 16px;
	position: absolute;
	left: 150px;
	top: 250px;
	text-align: center;
	width: 280px;
}

#finish_date {
	color: #3B8699;
	font-size: 24px;
	position: relative;
	top: 250px;
	text-align: center;
}


/********************Locker asignado (por tiempo)********************/

.assign_screen_byTime div button {
	background-color: white; 
	border:none;
}
 
.byTime_elements {
	position: relative;
	top: 140px;
}
.elapsed_time {
	color: #3B8699;
	font-size: 24px;
	position: relative;
	top: 130px;
	text-align: center;
}

#pay_btn {
	background-color: #3B8699;
	border:none;
	color: white;
	font-size: 24px;
	position: relative;
	top: 155px;
	left: 216px;
	height: 40px;
	width: 180px;
}

.hidden {
	display: none;
}


/******************Mi cuenta classes*********************/

.myAccount_screen {
	font-size: 20px;
	position: absolute;
	left: -120px;
}

.user_data {
	color: #3B8699;
	position: relative;
	text-align: left;
	top: 40px;
}

.user_data span {
	color: black;
	display: inline-block;
	margin-left: 50px;
	text-align: right;
	width: 300px;
}

.month_selection {
	color: black;
	position: relative;
	top: 120px;
}

.month_selection p:nth-child(2) {
	color: #3B8699;
	display: inline;
}

.box_list{
	float: right;
	position: relative;
	right: 100px;
}

.summary {
	color: #3B8699;
	position: relative;
	top: 220px;
}

.summary p:nth-child(1) {
	color: black;
}

.content {
	display: inline;
}

.summary div {
	color: black;
	float: right;
	position: relative;
	right: 100px;
	text-align: right;
	width: 300px;
}

#detail_btn {
	background-color: #3B8699;
	border:none; 
	box-shadow: -4px 6px 10px gray;
	color: white;
	height: 40px;
	position: relative;
	left: 620px;
	top: 270px;
}

#detail_btn p {
	display: inline;
	margin-left: 100px;
}

/*Cancelar message*/

.modal-body {
	color: white;
	font-size: 20px;
}

.modal-content {
	background-color: #3B8699;
}

.modal-body .btn {
	width: 120px;
	font-size: 18px;
	margin: 0 60px;
}

/*Procesing message*/
#procesando {
	top: 35%;
}

.spinner {
  margin: 50px auto;
  width: 60px;
  height: 60px;
  position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 10px;
  height: 10px;
  background-color: white;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}